.testimonials_inner {
  background-color: #f2f2f2;
}

.testimonials_slider {
  padding: 30px 0;
  margin: 0 80px;
  position: relative;
  height: 540px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonials_list {
  display: flex;
  margin-bottom: 200px;
  column-gap: 15px;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}

.testimonials_slide {
  flex-shrink: 0;
  background-color: #fff;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
  padding: 40px 22px;
  width: 380px;
}

.testimonials_feedback-text {
  font-weight: 400;
  font-size: 16px;
  color: #6a635b;
  line-height: 1.5;
  margin-bottom: 20px;
  list-style-type: none;
}

.testimonials_rating {
  display: flex;
  row-gap: 3px;
  margin-bottom: 20px;
}

.testimonial_author {
  font-weight: 600;
  font-size: 14px;
  color: #32435c;
}

.testimonial_slider-controls {
  padding: 8px;
  border-radius: 70px;
  background-color: #fff;
  margin-top: 80px;
}
